.genres-wrapper {
    height: 685px;
    overflow-y: scroll;
}

.genres-wrapper button {
    transition: 0.3s;
}

.genres-wrapper button:hover {
    padding-left: 30px;
}

.genres-active {
    box-shadow: inset 0px 0px 0px 3px var(--mars);
}

@media (max-width: 768px) {
    .genres-wrapper {
        height: 410px;
        overflow-y: scroll;
    }
}
