.card-game {
    width: auto;
    height: 200px;
    position: relative;
    overflow: hidden;
    border: 1px solid var(--mars);
}

.card-game img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(0px) brightness(50%);
    transition: 0.3s;
}

.card-game > p {
    position: absolute;

    padding: 10px;
    width: 100%;
}
.card-game > p:first-of-type {
    top: 5px;
    margin-top: 0px;
}

.card-game > p:last-of-type {
    bottom: 5px;
    margin-bottom: 0px;
}

.card-game > a {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background-color: var(--bgDark);
    border: 1px solid var(--mars);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    opacity: 0;
    transition: 0.3s;
    transition-delay: 0s;
}

.card-game:hover > a {
    opacity: 1;
    transition-delay: 0.3s;
}

.card-game:hover > img {
    filter: blur(8px) brightness(50%);
}

.card-game > div {
    position: absolute;
    height: 10px;
    width: 100%;
    background: repeating-linear-gradient(
        -45deg,
        transparent 0 10px,
        rgba(255, 0, 0, 0.4) 10px 20px
    );
    transition: 0.3s;
}

.card-game > div:first-of-type {
    top: 0px;
}

.card-game > div:last-of-type {
    bottom: 0px;
}

.card-game:hover > div {
    height: 15px;
}
