@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&family=Rajdhani:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap");

@font-face {
    font-family: "Segoe";
    src: url("./Assets/SegoeUI.woff");
}
* {
    font-family: "Rajdhani", sans-serif;
}

.font-segoe {
    font-family: "Segoe";
}

.font-orbitron {
    font-family: "Orbitron";
}

body {
    color: white;
}

.text-main {
    color: #dc3545;
}

.text-main:hover {
    color: #dc3545 !important;
}
